doctype
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0', user-scalable=0)
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/index-style.css')
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
        <![endif]-->

    body
        noscript
            p SORRY: this site requires javascript to be enabled in your browser.



        .banner
            .container
                h1 FLICKERS
                    span.small  alpha

        .container
            .row
                .col-md-6
                    p
                        | This is an R & D project to find the best way of presenting <a href="http://www.rachelhenson.com/">Rachel
                        | Henson's</a> flick-book portfolio on the internet.


                    p
                        | Choose an item from the menu to navigate to the flick-book viewer. When the images have loaded, use the
                        | slider to flick through the pages.

                    .alert.alert-danger
                        p WARNING: this application is image heavy!<br/>You may wish to connect wirelessly first.

                include includes/accordion


    script(src='https://code.jquery.com/jquery.min.js')
    script(src='js/bootstrap.min.js')