body {
    background-color: #000000;
    position: relative;
}

.slider {
    position: fixed;
    border: 1px solid cornflowerblue;

    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 4px black;
}

.pipit-menu-button {
    position: fixed;
    left: 5px;
    top: 5px;
    opacity: 0.66;
}


body,
#contentContainer,
.screen {
    background-repeat:no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
}

#progbarContainer.fade,
#contentContainer.fade {
    opacity: 0;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}

#contentContainer.fade.in {
    opacity: 1;
}

#progbarContainer.fade.in {
    opacity: 0.5;
}
