body {
    background-color: #000000;
}

.slider {
    position: fixed;
    border: 1px solid cornflowerblue;
    background: rgba(100, 150, 237, 0.22) url('../images/slider.png');
    cursor: pointer;
    width: 64px;
    height: 64px;
    bottom: 5px;
    left: 0;
    box-shadow: 2px 2px 4px black;
}

.pipit-menu-button {
    position: fixed;
    left: 5px;
    top: 5px;
    opacity: 0.66;
}

.pipit-canvas {
    z-index: -1;
    position: absolute;
    top: 0;
}

#progbarContainer.fade,
#contentContainer.fade {
    opacity: 0;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}

#contentContainer.fade.in {
    opacity: 1;
}

#progbarContainer.fade.in {
    opacity: 0.5;
}
