body {
    background-color: #e5eff7;
}

.panel {
    background-color: #d5dfe7;
}

.panel-info > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #877965;
}

.panel-heading,
.list-group-item {

    padding: 0px;

}

.panel-info {
    border-color: #403930;
}

.panel-info > .panel-heading {
    color: #403930;
    background-color: #beaf95;
    border-color: #403930;
}

.panel-title .thumb,
.list-group-item .thumb {

    margin: 5px;

    -webkit-box-shadow: 1px 1px 2px rgb(71, 63, 48);
    box-shadow: 1px 1px 2px rgb(71, 63, 48);
}

.list-group-item {

    background-color: transparent;
    border: none;/*1px solid #877965;*/
}
.list-group > a:hover,
.list-group > a:focus{

    background-color: rgba(125, 112, 95, 0.32);
    border: none;/*1px solid #877965;*/
}


.panel-title > a:hover,
.panel-title > a:focus {
    text-decoration: none;
    color: #877965;
}

.banner {
    background-color: #4e453b;
    margin-bottom: 10px;
}

h1 {
    color: #ffffff;
}









