.slider {
    position: fixed;
    border: 1px solid cornflowerblue;
    background-color: rgba(100,150,237,0.22);
    cursor: pointer;
    width: 66px;
    height: 66px;
    bottom: 5px;
    left: 0;
    box-shadow: 2px 2px 4px black;
}

.marker {
    position: fixed;
    background-image:url('../images/pages/marker.png');
    width: 66px;
    height: 66px;
    bottom: 5px;
    left: 0;

}

.pipit-menu-button {
    position: fixed;
    left: 5px;
    top: 5px;
    opacity: 0.66;
}

.pipit-canvas{
    z-index:-1;
}

